<div>
    <p>Log In Page</p>
    <%= form_with url: session_path do |f| %>
    <div>
        <%= f.label :email%>
        <br>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :password %>
        <br>
        <%= f.text_field :password %>
    </div>
        <br>
        <%= f.submit "Log In" %>
    <% end %>
</div>

