<div>
    <p>Sign Up Page</p>
    <%= form_for @user do |f| %>
    <div>
        <%= f.label :first_name %>
        <br>
        <%= f.text_field :first_name %>
    </div>
    <div>
        <%= f.label :last_name %>
        <br>
        <%= f.text_field :last_name %>
    </div>
    <div>
        <%= f.label :email%>
        <br>
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :password %>
        <br>
        <%= f.text_field :password %>
    </div>
        <br>
        <%= f.submit "Submit" %>
    <% end %>
</div>

