<div id="form">
  <%= form_for(@user) do |form| %>
  <% if @user.errors.any? %>
      <div>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :first_name %>
    <%= form.text_field :first_name %>

    <%= form.label :last_name %>
    <%= form.text_field :last_name %>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%#= form.label :password %>
    <%#= form.text_area :password %>

    <%= form.submit %>
      </div>
  <% end %>
</div>

<br>
<%= button_to "Edit Password", edit_user_password_edit_path(@user), method: :get %>