<!DOCTYPE html>
<html>

   <head>
      <title>Text Input Control</title>
   </head>
	
   <body>
    <div>
        <p>Sign Up Page</p>
        <%= form_for @user do |f| %>

        <div>
            <%= f.label :name %>
            <br>
            <%= f.text_field :name %>
        </div>
        <div>
            <%= f.label :email%>
            <%= f.text_field :email %>
        </div>
        <div>
            <%= f.label :password %>
            <br>
            <%= f.text_field :password %>
        </div>
            <br>
            <%= f.submit "Submit" %>
        <% end %>
    </div>
   </body>
	
</html>
