<div id="form">
  <%= form_for(@user) do |form| %>
  <% if @user.errors.any? %>
      <div>
        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form.label :password %>
    <%= form.text_field :password, class: 'form-control' %>

    <%= form.submit %>
      </div>
  <% end %>
</div>
