<%= render 'shared/header' %>
<%= render 'shared/navbar' %>
<%= render 'shared/footer' %>

<% @posts.each do |post| %>
    <div class="container">
    <div class="row">
        <h1><%= post.title %></h1> <span><%= link_to "Edit", post_path(post.id), method: :get %></span>
        <p> <%= post.body %> </p>
    </div>
    </div>
<% end %>